.graph-text {
    fill: white;
    font-weight: 900;
}

.details-div-visible {
  visibility: visible; }

.details-div-hidden {
  visibility: hidden;
  display: none; }

.response-option{
  border: 1px solid lightblue;
  border-radius: 5px;
}

.vote-question{
  border: 1px solid slategray;
  border-radius: 5px;
}