<div id="header">

    <br />
        <h1> FCC - Votes </h1>
        <a href="https://www.freecodecamp.com/challenges/image-search-abstraction-layer">https://www.freecodecamp.com/challenges/image-search-abstraction-layer</a>
        <br />
        <br />

       <%- title %>
    <br />
        <%- user %> 

</div>
