<div id="header">

    <br />
        <h1> FCC - Votes </h1>
        <a href="https://www.freecodecamp.com/challenges/image-search-abstraction-layer">https://www.freecodecamp.com/challenges/image-search-abstraction-layer</a>
        <br />
        <br />

       <%- title %>
    <br />
        <%- user %> 

        <h2>Login</h2>
        <form action="/signin" method="post">
             <div class="form-group row">
                <label class="col-sm-2">Email Address</label>
                <div class="col-sm-10">
                    <input type="text" name="email" class="form-control">
                </div>
            </div>
             <div class="form-group row">
                <label class="col-sm-2">Password</label>
                <div class="col-sm-10">
                    <input type="password" name="password" class="form-control">
                </div>
            </div>

            <input type="submit" value="sumbit" >
        </form>
</div>
