<div class="row">
    <div class="btn-toolbar" role="toolbar" >

        <a href="/">
            <button type="button" class="btn btn-primary">Home</button>
        </a>

        <a href="/polls/new">
            <button type="button" class="btn btn-primary">New Poll</button>
        </a>


        <a href="/?user=true">
            <button type="button" class="btn btn-primary">My Polls</button>
        </a>

        <a href="/logout">
            <button type="button" class="btn btn-secondary">Log Out</button>
        </a>

    </div>
</div>
